#MainContainer {
    width: 80%;
}

.gameboard {
    width: min(80%, 75vh);
    aspect-ratio: 1 / 1;
    display: grid;
    margin: auto;
    cursor: default;
}

.gameboard .square {
    background-color: white;
    border: 1px solid black;
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: min(2vw, 32px);
    display: flex;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gameboard .square:not([class*="header"]) p {
    color: gray;
    font-weight: bold;
}

.gameboard .square:not([class*="header"]) p.directHit {
    color: red;
}

.gameboard .square p {
    margin: auto;
}
