body {
    display: flex;
    height: 100vh;
}

#MainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

.player:not([data-player="You"]):not([data-turnActive="true"])
    .square:hover:not([class*="header"]) {
    cursor: pointer;
    background-color: lightcoral;
}
