body {
    display: flex;
    height: 100vh;
}

#MainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

.player:not([data-player="Player"])[data-turnactive="false"]
    .square:hover:not([class*="header"]):not([class*="hit"]) {
    cursor: pointer;
    background-color: lightcoral;
}

.gameboard {
    width: min(70%, 75vh);
}

.gameboard .square {
    font-size: min(1.5vw, 32px);
}

.playAgainContainer {
    margin-top: 16px;
    display: grid;
    grid-template-rows: 2fr 1fr;
    text-align: center;
    grid-column: span 2;
    justify-content: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 32px;
    margin-bottom: 32px;
}

.playAgainBtn {
    width: 200px;
    height: 32px;
    margin: auto;
}

.piecePreviewContainer {
    font-size: min(36px, 2vw);
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    display: grid;
}

.piecePreviewContainer > div {
    display: grid;
    margin-top: auto;
}

.piecePreviewContainer .currentPiece {
    margin-top: auto;
}

.piecePreview {
    display: grid;
    margin: auto;
    cursor: default;
    vertical-align: middle;
}

.piecePreview .previewSquare {
    margin: auto;
    aspect-ratio: 1 / 1;
    background-color: white;
    border: 1px solid black;
    height: min(50px, 5vw);
    width: min(50px, 5vw);
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: min(2vw, 32px);
    display: flex;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
